/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img,
b, u, i, center,
ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ---
	Buttons
--- */

.button .random { /*-- css styled button --*/

}

/* ---
	Search field
--- */



/* ---
	Search result
--- */

.searchresult {
	display: block;
}
/*
#searchresult .show {
	display: block;
}*/

/* HTML5 display-role reset for older browsers */
main {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
